body {
    margin: 0;
    padding: 0;
}

nav {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  }

.icon {
    max-width: 50px;
    max-height: 50px;
}

.logo img {
    width: 20px; /* Set your desired width */
    height: auto; /* Maintain aspect ratio */
}
.accountIcon {
    margin-right: 10px; /* Add margin to create space between the icon and the logo */
  }
